
*{
    margin:0;
    padding:0;
}
#search_back{
    height:140px;
    background-color: black;
    margin-top: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#logo_vid{
    width:256px;
    margin: 20px auto 0 auto; 
}

#search_box{
    width:550px;
    height:30px;
    margin-left: 20px;
    float:left;
    font-size: 20px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#search_form{
    margin-top: 25px;
}

#submit_image{
    margin-left: 15px;
}

#result_container{
    margin-top: 20px;   
    margin-left: 120px;
}

#pagination_div{
margin-top: 15px;    
}

#pag_prev{    
  margin-top: 3px;
    float:left;
    margin-left:6px;
}
#pag_next{
    margin-top: 3px;
    float:left;
    margin-left:6px;
}

#pag_cur{
    background-color:gray;
    padding: 1px 6px;
    border: 1px solid gray;
}
.pag_link{
    text-align: center;
    text-decoration: none;

}

.pag_nums{
    float:left;
    margin-left: 6px;
    border:1px solid gray;
    padding:0px 5px;
 
    
}

.single_link{
    color:blue;
    text-decoration: none;
}
.link_indiv{
    margin-top:10px;
    font-size: 18px;
}

.report{
    float:right;
}

.upvote{
    display: inline-block;
    width:50px;
    cursor: pointer;
   
    height:25px;
        float:left;
        background-image: url(../images/tud.png);
        background-position: 0 0;
 
       
        
    
}
.downvote{
    display: inline-block;
       width:50px;
       height:25px;
       cursor: pointer;
       
     
        float:left;
        background-image: url(../images/tud.png);
        background-position:50px 0;
   
}

.votecount{
    
    float:left;
}

/*autocomplete rules*/

.autocomplete-w1 { background:url(../images/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }